<div
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="paginate()"
>
  <mat-card *ngFor="let char of charList">
    <mat-card-header>
      <div>
        <mat-card-title>{{ char.name }}</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="img-container">
        <a [routerLink]="['character', char.id]"> <img *ngIf="char.avatar" [src]="char.avatar" width="200" height="200"></a>
      </div>
      <div>
        <img [src]="GenderDictionary[char.gender]">
      </div>
    </mat-card-content>
  </mat-card>
</div>
